################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/study/study/Dockerfile
